<% if current_user.id == @budget.user.id || current_admin? %>
  <h1>Budget: <%= @budget.name %></h1>
  <div class="col-sm-4">
    <div class="card">
      <h5 class="card-header">Available to be Budgeted</h5>
      <div class="card-body">
        <h5 class="card-title"><%= number_to_currency(@budget.available_to_budget) %> Available</h5>
      </div>
    </div>
  </div>
  <a href="<%= new_user_budget_category_path(@user, @budget)%>" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Create a new category</a>
  <a href="<%= edit_user_budget_path(@user, @budget)%>" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Edit Budget</a>
  <a href="<%= user_budget_charges_path(@user, @budget)%>" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Budget Charges</a>

    <div class="row">
      <% @budget.categories.each do |category| %>
      <% next if category.title == "To be budgeted" %>
      <div class="col-sm-4">
        <div class="card">
          <h5 class="card-header"><%= category.title %></h5>
          <div class="card-body">
            <h5 class="card-title"><%= number_to_currency(category.balance) %> Available</h5>
            <%= form_for @adjustment , :html => {:class => "form-inline center"} do |f| %>
              <div class="form-group">
                <div class="col-md-8">
                  <%= f.number_field :amount, step: 0.01, class: "form-control" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
<% end %>
