<% if current_user.id == @budget.user.id || current_admin? %>
  <h1>Budget: <%= @budget.name %></h1>
  <a href="<%= new_user_budget_category_path(@user, @budget)%>" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Create a new category</a>
  <a href="<%= edit_user_budget_path(@user, @budget)%>" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Edit Budget</a>
  <a href="<%= user_budget_charges_path(@user, @budget)%>" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Budget Charges</a>

    <div class="row">
      <% @budget.categories.each do |category| %>
      <div class="col-sm-4">
        <div class="card">
          <h5 class="card-header"><%= category.title %></h5>
          <div class="card-body">
            <h5 class="card-title"><%= number_to_currency(category.balance) %> Available</h5>
          </div>
        </div>
      </div>
      <% end %>
    </div>
<% end %>
